<div class="gallery__background">
  <div class="gallery__tab-content container is-gallery-expanded">
    <a *ngFor="let event of events_list" class="gallery__card" [routerLink]="['/events', event.id]">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="{{event.image}}">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          {{event.name}}
        </div>
      </div>
    </a>
  </div>
</div>



<!-- <div class="gallery__background">
  <div class="gallery__tab-content container is-gallery-expanded">
    <a class="gallery__card" href="/shows/bob-fosses-dancin/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124411-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Bob Fosse's DANCIN'
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/funny-girl/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/123308-1.png">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Funny Girl
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/book-mormon/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/114880-9.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          The Book of Mormon
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/new-york-new-york-broadway/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124598-1.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          New York, New York
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/parade/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124528-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Parade
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/beautiful-noise-neil-diamond-musical/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/123799-1.png">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          A Beautiful Noise, The Neil Diamond Musical
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/harry-potter-and-cursed-child-broadway/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124619-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Harry Potter and the Cursed Child
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/mj/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/121644-1.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          MJ
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/six/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124604-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          SIX: The Musical
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/the-lion-king/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/112487-6.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          The Lion King
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/the-phantom-of-the-opera/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/121914-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          The Phantom of the Opera
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/shucked/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124665-14.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Shucked
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/sweeney-todd-2023/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124617-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Sweeney Todd
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/kimberly-akimbo/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/123733-1.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Kimberly Akimbo
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/hamilton-broadway/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/122764-4.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Hamilton
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/leopoldstadt/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124602-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Leopoldstadt
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/aladdin-broadway/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124618-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Aladdin
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/some-it-hot/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124605-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Some Like It Hot
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/juliet/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/123538-1.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          &amp; Juliet
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/wicked/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/117700-3.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Wicked
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/chicago/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/87147-6.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Chicago
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/hadestown/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/107869-6.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Hadestown
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/moulin-rouge-musical/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124312-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Moulin Rouge! The Musical
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/lerner-and-loewes-camelot/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124725-12.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Lerner and Loewe's Camelot
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/bad-cinderella/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124599-0.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Bad Cinderella
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/life-pi/">
      <img class="gallery__card-image lazyloaded" width="215" height="160" src="https://imaging.broadway.com/images/regular-43/w300/124314-4.jpg">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Life of Pi
        </div>
      </div>
    </a>
    <a class="gallery__view-shows-card" href="https://www.broadway.com/shows/tickets/?category=broadway">
      <svg width="20" height="35" class="snipcss0-3-107-108" fill="#C5C6CD" style="" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1L0.96482 0L8 7L0.96482 14L0 13L6 7L0 1Z" fill="#C5C6CD">
        </path>
      </svg>
    </a>
    <div class="gallery__content-mask">
      <button class="gallery__expand-button bwy-button-primary hidden">
        View More
      </button>
    </div>
    <a class="gallery__expanded-button bwy-button-primary" href="https://www.broadway.com/shows/tickets/?category=broadway">
      Explore All Shows
    </a>
    <div class="gallery__card-mask">
    </div>
  </div>
  <div class="gallery__tab-content container hidden">
    <a class="gallery__card" href="/shows/blue-man-group/">
      <img class="gallery__card-image lazyload" width="215" height="160" src="https://static.broadway.com/img/placeholders/shows/poster-placeholder.863b7db440fb.png">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Blue Man Group
        </div>
      </div>
    </a>
    <a class="gallery__card" href="/shows/little-shop-horrors/">
      <img class="gallery__card-image lazyload" width="215" height="160" src="https://static.broadway.com/img/placeholders/shows/poster-placeholder.863b7db440fb.png">
      <div class="gallery__card-body">
        <div class="gallery__card-title">
          Little Shop of Horrors
        </div>
      </div>
    </a>
    <a class="gallery__view-shows-card" href="https://www.broadway.com/shows/tickets/?category=off-broadway">
      <svg width="20" height="35" class="snipcss0-3-122-123" fill="#C5C6CD" style="" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1L0.96482 0L8 7L0.96482 14L0 13L6 7L0 1Z" fill="#C5C6CD">
        </path>
      </svg>
    </a>
    <a class="gallery__explore-button bwy-button-primary" href="https://www.broadway.com/shows/tickets/?category=off-broadway">
      Explore All Shows
    </a>
    <div class="gallery__card-mask">
    </div>
  </div>
</div> -->
