<form id="myForm">
    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" name="name" [(ngModel)]="eventName" required>
    </div>

    <div class="form-group">
        <label for="description">Description: </label>
        <input type="text" name="description" [(ngModel)]="eventDescription" required>
    </div>

    <div class="form-group">
        <label for="image">Image: </label>
        <input type="text" name="image" [(ngModel)]="eventImage" required>
    </div>

    <div class="form-group">
        <label for="organizer">Organizer: </label>
        <input type="text" name="organizer" [(ngModel)]="eventOrganizer" required>
    </div>

    <div class="form-group">
        <label for="date_time">Date and Time:</label>
        <input type="datetime-local" id="date_time" name="date_time" [(ngModel)]="eventDateTime" required>
    </div>
    <br>
    <br>
    <button type="button" (click)="postEvent()" [routerLink]="['/events']">post Event</button>
</form>
