.news-list{

    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;

    border: 1px solid transparent;
    background-color: #f9f9f9;
    border-color: #ddd;
    /* width: 50%; */
}

/* .news-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */