<section class="homepage__featured-shows">
  <div class="homepage__featured-shows-container">
    <h2 class="featured-shows__heading">
      Clubs
    </h2>
    <div class="featured-shows-container style-orzom" id="style-orzom">
      <div class="featured-shows-wrapper style-l4UDP" id="swiper-wrapper-476910a9c4f83bd9f">
        <a class="featured-show" *ngFor="let club of clubs_list" [routerLink]="['/clubs', club.id]">
          <div class="featured-show__img-container">
            <img class="featured-show__img lazyloaded" src="{{club.logo}}" width="200" height="463">
          </div>
          <div class="featured-show__heading">
            {{club.name}}
          </div>
        </a>

    </div>
  </div>
  <div class="homepage__ad-container-d">
    <div id="dfp-home-d" class="style-yiG6V">
    </div>
  </div>


