
<h2 id = "featured_news_heading" >News
</h2>

<ul class = "container_contents">
  <div *ngFor="let news of main_news_list" class = "container" [routerLink]="['/news', news.id]"   >
    <a class = "content" >
      <div class = "image">
        <img src="{{news.image}} " width="150" height="110">
      </div>
      <div class = "texts">
        <div class="text_red text">
          news
        </div>
        <div class="text">
          {{news.title}}
        </div>
      </div>
    </a>
  </div>
</ul>
