* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.homepage__background--dark {
  background-color: #1f2023;
}

body {
  display:  flex;
  flex-direction:  column;
  background-color:  #ececef;
  color:  #343540;
  font-family:  -apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:  16px;
  line-height:  1.25em;
  min-height:  100%;
  margin:  0;
  -ms-overflow-style:  scrollbar;
  overflow-x: hidden;
  width: 100%;
}

html {
  height:   100%;
  box-sizing:   border-box;
  overflow-y:   scroll;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing:  grayscale;
  overflow-x: hidden;
  width: 100%;
}

.gallery__background {
  background-color: #161616;
  position: relative;
}

*,:before,:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 544px){
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media (min-width: 768px){
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px){
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}

.gallery__tab-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 102px;
  max-height: 595px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.is-gallery-expanded {
  max-height: 2000px;
}

.gallery__tab-content:after {
  content: '';
  padding-right: 1px;
}

@media (min-width: 768px){
  .gallery__tab-content:after {
    display: none;
  }
}

.hidden {
  display: none;
}

.gallery__card {
  width: calc(20% - 16px);
  box-shadow: 0px 2px 5px 1px #000;
  background: linear-gradient(320deg, #343540 0%, #25262b 100%);
  background-size: 400% 400%;
  animation: loading-placeholder 2s ease-in infinite;
  transition: background-color 0.1s ease-in-out,box-shadow 0.1s ease-in-out,top 0.1s ease-in-out;
  overflow: hidden;
  position: relative;
  top: 0;
  margin: 16px 16px 0 0;
}

a:link {
  text-decoration: none;
}

.gallery__card:hover,.gallery__card:active {
  text-decoration: none;
  box-shadow: 0px 4px 8px 2px #000;
}

@media (min-width: 768px){
  .gallery__card:hover,.gallery__card:active {
    top: -4px;
  }
}

a:visited {
  text-decoration: none;
}

.gallery__card:nth-of-type(5n) {
  margin-right: 0;
}

@media (min-width: 768px){
  .gallery__card:nth-last-of-type(3) {
    margin-right: 0;
  }
}

.gallery__view-shows-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 72px;
  background-color: #25262b;
  box-shadow: 0px 2px 5px 1px #000;
  margin: 16px 24px 0 0;
}

@media (min-width: 768px){
  .gallery__view-shows-card {
    display: none;
  }
}

.gallery__view-shows-card:active,.gallery__view-shows-card:hover {
  background-color: #2b2c34;
  box-shadow: 0px 4px 8px 2px #000;
}

.gallery__content-mask {
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(17,17,17,0.001), rgba(17,17,17,0.2) 20%, rgba(17,17,17,0.5) 40%, rgba(17,17,17,0.85) 70%, #111);
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

.bwy-button-primary {
  display:  inline-flex;
  justify-content:  center;
  align-items:  center;
  border-radius:  6px;
  border:  1px solid transparent;
  line-height:  1em;
  font-size:  16px;
  font-weight:  bold;
  padding-top:  16px;
  padding-bottom:  16px;
  padding-left:  24px;
  padding-right:  24px;
  cursor:  pointer;
  text-decoration:  none;
  transition:  background 0.3s ease-in-out,border 0.3s ease-in-out;
  color: #fff;
  background-color: #0068d9;
}

.gallery__expanded-button {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 10px 4px #000;
  transition: all 0.1s ease-in-out;
  margin-bottom: 24px;
  padding: 16px 32px;
}

@media (hover: hover){
  .bwy-button-primary:hover:not([disabled]):not(.disabled) {
    background-color: #064f9e;
    border-color: #064f9e;
  }
}

.gallery__card-mask:before,.gallery__card-mask:after {
  content: '';
  display: none;
  position: absolute;
  width: 40%;
  height: 264px;
  background: linear-gradient(270deg, #161616 0%, rgba(31,32,35,0) 11.73%);
  pointer-events: none;
}

.gallery__card-mask:before {
  left: 0;
  transform: scale(-1);
}

.gallery__card-mask:after {
  right: 0;
}

.gallery__explore-button {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 10px 4px #000;
  transition: all 0.1s ease-in-out;
  margin-bottom: 24px;
  padding: 16px 32px;
}

img {
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  -ms-interpolation-mode: bicubic;
}

.lazyloaded {
  opacity:  0;
  -webkit-animation: fade-in 0.5s ease-in forwards;
  -moz-animation: fade-in 0.5s ease-in forwards;
  -ms-animation: fade-in 0.5s ease-in forwards;
  -o-animation: fade-in 0.5s ease-in forwards;
  animation: fade-in 0.5s ease-in forwards;
}

.gallery__card-image {
  width: calc(100% + 0.5px);
}

.gallery__card-body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25262b;
  height: 72px;
}

.gallery__card:hover .gallery__card-body ,.gallery__card:active .gallery__card-body  {
  background-color: #2b2c34;
}

.gallery__expand-button {
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 10px 4px #000;
  transition: all 0.1s ease-in-out;
  margin-bottom: 16px;
  padding: 16px 32px;
}

.lazyload {
  opacity: 0;
}

.gallery__card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #f9f9fa;
  font-size: 18px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px;
}


@keyframes loading-placeholder {
  0% {
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
  }
  50% {
    background-position: 100% 90%;
    background-position-x: 100%;
    background-position-y: 90%;
  }
  100% {
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
  }

}
@keyframes fade-in {
  0% {
    opacity: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    opacity: 1;
  }

}
