.product-element{
    border: 1px solid #dadde1;
    width: 300px;
    height: 600px;
}

.product-image{
    width: 80px;
    height: 220px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.line{
    align-items: center;
    border-bottom: 2px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.link{
    color: #0089d0;
}

.info{
    margin: auto;

    width: 268px;
}