body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav a:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.club {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
}
.club img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.club h3 {
  font-size: 24px;
  margin: 10px;
}
.club p {
  font-size: 16px;
  margin: 10px;
}
